body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
}
p{
    line-height: 2;
}

.top-container {
  background-color:#EAF6F6;
  position: relative;
  padding-top: 100px;
}
.middle-container{
  margin: 100px 0;
}
.bottom-container{
  background-color:#66BFBF;
  line-height: 2;
  padding: 40px 0 40px 0;
}

h1 {
  color: #66BFBF;
  font-size: 5.625rem;
  margin: 50px auto 0 auto ;
  font-family: 'Amita', cursive;
}

h2 {
  color: #66BFBF;
  margin-top: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  color: #11999E;
  font-family: "Montserrat", sans-serif;
}
hr{

  border-style: none;
  border-top-style:dotted;
  border-color: #D3D3D3;
border-width:6px;
width: 4%;
margin: 90px auto ;
}

a{
  color:  #124BAE;
  text-decoration: none;
  margin: 10px 20px ;
  font-family: "Montserrat", sans-serif;

}
a:hover{
  color:#EAF6F6;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}
.Dp{

  height: 190px;
}

.skill-row{
  width: 50% ;
  margin: 90px auto 100px auto;
  text-align: left;
  padding: 20px;
}
  .skill1{
    width: 25%;
    float: left;
    margin-right: 20px;

  }
  .skill2{
    width: 25%;
      float: right;
        margin-left: 19px;
      }
   .skill3{
     width: 25%;
       float: left;
         margin-right: 19px;

   }
   .skill4{
     width: 25%;
       float: right;
         margin-left: 19px;
       }

.bottom-info{
  color: #EAF6F6;
}



.btn {
  background: #11CDD4;
  background: -webkit-gradient(top, #11CDD4, #1199E);
  background: -moz-linear-gradient(top, #11CDD4, #1199E);
  background: -ms-linear-gradient(top, #11CDD4, #1199E);
  background: -o-linear-gradient(top, #11CDD4, #1199E);
  background: -webkit-linear-gradient(top, #11CDD4, #1199E);
  background-image: -moz-linear-gradient(top, #11CDD4, #1199E); /*Firefox3.6+*/
   background-image: -webkit-linear-gradient(top, #11CDD4, #1199E); /* Chrome10+,Safari5.1+ */
   background-image: -webkit-gradient(top, #11CDD4, #1199E); /* Chrome,Safari4+ */
   background-image: -o-linear-gradient(top, #11CDD4, #1199E); /* Opera 11.10+ */
   background-image: -ms-linear-gradient(top, #11CDD4, #1199E); /* IE10+ */
   background-image: linear-gradient(top, #11CDD4, #1199E); /*Added after I read Next Post:*/
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat';
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30E3CB;
  background: -webkit-gradient(top, #30E3CB, #2BC4AB);
  background: -moz-linear-gradient(top, #30E3CB, #2BC4AB);
  background: -ms-linear-gradient(top, #30E3CB, #2BC4AB);
  background: -o-linear-gradient(top, #30E3CB, #2BC4AB);
  background: -webkit-linear-gradient(top, #30E3CB, #2BC4AB);
  background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AB); /*Firefox3.6+*/
 background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AB); /* Chrome10+,Safari5.1+ */
 background-image: -webkit-gradient(top, #30E3CB, #2BC4AB); /* Chrome,Safari4+ */
 background-image: -o-linear-gradient(top, #30E3CB, #2BC4AB); /* Opera 11.10+ */
 background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AB); /* IE10+ */
 background-image: linear-gradient(top, #30E3CB, #2BC4AB); /*Added after I read Next Post:*/
  text-decoration: none;
}

.intro{ text-align: center;
  margin:  auto;
  width: 25%
}
.contact-message{
  width: 40%;
  margin: 40px auto 60px;
}
.copyright{
  color: #EAF6F6;
  font-size: .75rem;
  padding: 12px 0;
}
